<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">

  <title> <%= ticket %> </title>
</head>

<body>

  <div id="header">
    <img src="/static/header.jpg">
  </div>

  <div class="container-xl">

    <div class="title">Relatório de Serviço Técnico ffgdfgd</div>

    <%- include('../components/Cliente', {
      nome_fantasia: Atividade.cliente.nome_fantasia,
      cnpj_cpf: Atividade.cliente.cnpj_cpf,
      n_contrato: Atividade.cliente.n_contrato,
      representante: Atividade.cliente.representante,
      telefone: Atividade.cliente.telefone, 
      email: Atividade.cliente.email,
    }) %>

    <%- include('../components/Atividade', {
      data: Atividade.new_date,
      ticket: Atividade.ticket,
      tecnico: Atividade['técnico'],
      created_at: Atividade.new_created_at,
      updated_at: Atividade.new_updated_at,
    }) %>

    <%- include('../components/Infos', {
      Infos: Atividade.infos
    }) %>

  </div>

  <div id="footer">
    <img src="/static/footer.jpg">
  </div>
  
  <!-- <> <%= JSON.stringify(Atividade) %> </> -->
</body>

</html>