<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">

  <title></title>
</head>

<body>
  <div id="header">
    <img src="/static/header.jpg">
  </div>

  <div class="container-xl">

    <div class="title">Relatório de Serviço Técnico</div>
    <div class="subtitle">Data Inicial: <%- Dados.data_inicial %> - Data Final: <%- Dados.data_final %> </div>

    <div class="cliente">

      <div class="title">
        Dados do Técnico
      </div>

      <div class="border">
        <div class="col-xs-12 dados">
          <span><strong>Nome Completo:</strong> <%- Dados.Tecnico.nome %></span>
          <span><strong>Email:</strong> <%- Dados.Tecnico.email %></span>
          <span><strong>Nº Telefone:</strong> <%- Dados.Tecnico.telefone %></span>
        </div>
      </div>

    </div>

    <div class="tecnicos">

      <div class="title">
        Clientes
      </div>

      <div class="border">

        <% Dados.Clientes.map( cliente => {%>

          <div class="col-xs-6">
            <span><strong>Cliente:</strong> <%- cliente.nome %></span>
          </div>

        <% }) %>

      </div>

    </div>

    <div class="infos">

      <div class="title">
        Atividades Realizadas
      </div>

      <div class="border">
        <table class="table table-striped table-bordered">
          <thead style="background-color: #8CA0B6 !important;">
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Cliente</th>
              <th scope="col">Categoria</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <% Dados.Infos.map(info => {%>

              <tr>
                <th scope="row"><%- info.date_format %></th>
                <td><%- info.cliente %></td>
                <td><%- info.categoria %></td>
                <td><%- info.descricao %></td>
              </tr>

            <% }) %>

          </tbody>
        </table>
      </div>

    </div>
  
  <div id="footer">
    <img src="/static/footer.jpg">
  </div>
</body>

</html>