<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">

  <title></title>
</head>
<body>
  <div id="header">
    <img src="/static/header.jpg">
  </div>

  <div class="container-xl">

    <div class="title">Relatório de Serviço Técnico</div>
    <div class="subtitle">Período: <%- Dados.mes %>/<%- Dados.ano %></div>

    <%- include('../components/Cliente', {
      nome_fantasia: Dados.Cliente.nome_fantasia,
      cnpj_cpf: Dados.Cliente.cnpj_cpf,
      n_contrato: Dados.Cliente.n_contrato,
      representante: Dados.Cliente.representante,
      telefone: Dados.Cliente.telefone, 
      email: Dados.Cliente.email,
    }) %>

    <%- include('../components/Tecnicos', {
      Tecnicos: Dados.Tecnicos
    }) %>

    <%- include('../components/Atividades', {
      Infos: Dados.Infos
    }) %>

  </div>
  
  <div id="footer">
    <img src="/static/footer.jpg">
  </div>

</body>

</html>