<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/favicon.ico" />
		<link rel="stylesheet" href="/static/bootstrap.css" />
		<link rel="stylesheet" href="/static/style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto"
		/>

		<title>SOLICITAÇÃO DE LIBERAÇÃO SITE OU APLICATIVO</title>
	</head>

	<body class="liberacao">
		<div id="header">
			<img src="/static/header.jpg" />
		</div>

		<div class="container-xl">
			<div class="title">SOLICITAÇÃO DE LIBERAÇÃO SITE OU APLICATIVO</div>

			<div class="content">
				<p>
					A solicitação deve ser preenchida quando o site ou aplicativo, não está na política padrão
					de trabalhando, assim solicitamos a sua liberação.
					O site ou aplicativo pode passar por analise antes de sua liberação e caso não apresente riscos será liberado
					conforme solicitado abaixo.
				</p>
			
				<div class="dados">
					<table>
						<tr>
							<th>IP/MAC</th>
							<td><%= ip %> / <%= mac %></td>
						</tr>
						<tr>
							<th>Dispositivo/Setor/Usuário</th>
							<td><%= dispositivo %> - <%= setor %> - <%= usuario %></td>
						</tr>
					</table>
				</div>

				<div class="justificativa">
					<div class="label">Lista de sites e/ou aplicativos:</div>
					<div class="text">
            <%= lista %>
					</div>
				</div>

				<div class="justificativa">
					<div class="label">Justificativa:</div>
					<div class="text">
            <%= justificativa %>
					</div>
				</div>

				<div class="tempo">
					<table>
						<tr>
							<th>Tempo de Liberação</th>
							<td>Permanente</td>
						</tr>
					</table>
				</div>

				<div class="autorizacao-responsavel">
					<div class="label">Assinatura do Responsável</div>
				</div>

		</div>

		<div id="footer">
			<img src="/static/footer.jpg" />
		</div>

	</body>
</html>
