<div class="atividade">

  <div class="title">
    Dados da Atividade
  </div>

  <div class="dados">
    <span><strong>Data:</strong> <%= data %> </span>
    <span><strong>Ticket:</strong> <%= ticket %> </span>
    <span><strong>Criado por:</strong> <%= tecnico %></span>
    <span><strong>Data de abertura:</strong> <%= created_at %></span>
    <span><strong>Ultima alteração:</strong> <%= updated_at %></span>
  </div>

</div>