<div class="cliente">

  <div class="title">
    Dados do Cliente
  </div>

  <div class="row border">
    <div class="col imagem">
      <img src="/static/<%= nome_fantasia.toLowerCase().replace('/samu','') %>.png" />
    </div>
    <div class="col-9 dados">
      <span><strong>Nome Fantasia:</strong> <%= nome_fantasia %></span>
      <span><strong>CNPJ/CPF:</strong> <%= cnpj_cpf %></span>
      <span><strong>Nº Contrato:</strong> <%= n_contrato %></span>
      <span><strong>Representante:</strong> <%= representante %></span>
      <span><strong>Telefone:</strong> <%= telefone %></span>
      <span><strong>Email:</strong> <%= email %></span>
    </div>
  </div>

</div>
